* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 500;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin: 0 auto;
}

main {
    max-width: 80%;
    margin: 15px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
    margin-bottom: 30px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(70, 70, 70);
}

svg {
    width: auto;
    height: 50px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    height: 8rem;
    padding: 20px;
    width: 100%;
}

.logo img {
    height: 70%;
    width: auto;
}

.searchBar {
    width: 200px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchInput {
    width: 100%;
    border: 3px solid rgb(77, 77, 77);
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchInput:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(77, 77, 77);
    background: rgb(77, 77, 77);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.searchButton::before {
    content: 'search';
    font-family: 'Material Symbols Outlined';
    display: inline-block;
    vertical-align: middle;
    height: 90%;
}

.loginButton,
.panierButton {
    background: none;
    border: none;
}

.loginButton::before {
    content: 'login';
    font-family: 'Material Symbols Outlined';
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.panierButton::before {
    content: 'shopping_basket';
    font-family: 'Material Symbols Outlined';
    font-size: 50px;
    display: inline-block;
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 10px;
    margin-top: 25px;
}

.articlesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    padding: 40px;
}

.article h1 {
    align-self: flex-start;
}

.article img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.multipleArticlesContainer {
    gap: 20px;
}

.multipleArticlesContainer img:nth-child(2), .multipleArticlesContainer img:nth-child(3) {
    border-radius: 50%;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.article.rupture .image-container::after {
    content: "EN RUPTURE";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 24px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.article.solde .image-container::after {
    content: "SOLDE";
    position: absolute;
    top: -20%;
    right: -5%;
    width: 40%;
    height: 40%;
    background-color: rgb(77, 77, 77);
    color: white;
    font-size: 16px;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableauContainer {
    flex: 3;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    hyphens: auto;
    overflow-wrap: break-word;
}

.magasins {
    background-color: gray;
    text-align: center;
    flex: 1;
    padding: 40px;
}

.magasins li {
    font-size: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 10px;
    width: 100%;
    font-size: 18px;
}

footer div {
    display: flex;
    background-color: gray;
    height: 100%;
    align-items: center;
    text-align: center;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.CGV {
    gap: 20px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.socials i {
    font-size: 75px;
}

@media (max-width: 1000px) {
    .socials i {
        font-size: 40px;
    }

    footer {
        font-size: 14px;
    }

    footer a, footer p {
        padding: 0 10px;
    }

    .socials {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
    }
}

@media (max-width: 768px) {

    main {
        max-width: 100%;
    }

    .articlesContainer {
        grid-template-columns: 1fr;
    }

    .userButtons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        text-align: center;
    }

    .searchBar {
        width: 150px;
        margin: 0 auto;
    }

    .magasins {
        display: none;
    }

    .article img {
        width: 60%;
        height: auto;
    }

    .article.solde .image-container::after {
        right: 10%;
        width: 30%;
        height: 50%;
    }

    .socials i {
        font-size: 50px;
    }

    .logo img {
        height: 60%;
    }

    body {
        max-width: 100%;
        margin: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }

    .userButtons .material-symbols-outlined {
        font-size: 30px;
    }

    .article {
        padding: 30px;
    }

    .CGV, .FAQ, .socials {
        font-size: 14px;
    }

    .socials i {
        font-size: 40px;
    }

    .logo img {
        height: 50%;
        margin-bottom: 10px;
    }
}